/* You can add global styles to this file, and also import other style files */
html {
    scrollbar-width: none !important;
    /* Firefox */
    -ms-overflow-style: none !important;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: auto;
}

body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
  
}